{% extends "base.html" %}
{% block contents %}
    <h1>Account list</h1>
    {% if account_list %}
    <ul>
        {% for acc in account_list %}
        <li><a href="{% url 'acclist:accdetail' 'html' acc.accup_user_id.accup_user_name acc.id %}">
            {{ acc.service.service_name }} - {{ acc.name }}
        </a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No accounts are registered.</p>
    {% endif %}
    <h1>Mail address list</h1>
    {% if mail_list %}
    <ul>
        {% for mail in mail_list %}
        <li><a href="{% url 'acclist:maillinkedlist' 'html' mail.accup_user_id.accup_user_name mail.id %}">
            {{ mail.mailaddr_text }}
        </a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No mail addresses are registered.</p>
    {% endif %}
{% endblock contents %}
