{% extends "base.html" %}
{% block contents %}
    <h1>Account List</h1>
    <p>
        <a href="{% url 'acclist:accinsertform' 'html' username %}">Register new account info</a>
    </p>
    {% if account_list %}
    <ul>
        {% for acc in account_list %}
        <li><a href="{% url 'acclist:accdetail' 'html' username acc.id %}">
            {{ acc.service.service_name }} - {{ acc.name }}
        </a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No accounts are registered.</p>
    {% endif %}

    <h1>Mail Address List</h1>
    {% if mail_list %}
    <ul>
        {% for mail in mail_list %}
        <li><a href="{% url 'acclist:maillinkedlist' 'html' username mail.id %}">
            {{ mail.mailaddr_text }}
        </a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No mail addresses are registered.</p>
    {% endif %}

    <h1>Address List</h1>
    {% if address_list %}
    <ul>
        {% for addr in address_list %}
        <li><a href="{% url 'acclist:addresslinkedlist' 'html' username addr.id %}">
            {{ addr.address_text }}
        </a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No addresses are registered.</p>
    {% endif %}

    <h1>Phonenum List</h1>
    {% if phonenum_list %}
    <ul>
        {% for pn in phonenum_list %}
        <li><a href="{% url 'acclist:phonenumlinkedlist' 'html' username pn.id %}">
            {{ pn.phonenum_text }}
        </a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No phonenums are registered.</p>
    {% endif %}

    <h1>Service List</h1>
    {% if service_list %}
    <ul>
        {% for svc in service_list %}
        <li><a href="{% url 'acclist:servicelinkedlist' 'html' username svc.id %}">
            {{ svc.service_name }}
        </a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No services are registered.</p>
    {% endif %}

{% endblock contents %}
