{% extends "base.html" %}
{% block contents %}
    {% if relay %}
        {{ relay }}
    {% endif %}
    {% if account %}
    <ul>
        <li>(id) {{ account.id }}</li>
        <li>[{{ key_string.accupid }}] {{ account.accup_user_id.accup_user_name }}</li>
        <li>[{{ key_string.status }}] {{ account.status }}</li>
        <li>[{{ key_string.service }}] {{ account.service.service_name }}</li>
        <li>[{{ key_string.name }}] {{ account.name }}</li>
        <li>[{{ key_string.password }}] {{ account.passwd }}</li>
        <li>[{{ key_string.mailaddr1 }}] {{ account.mailaddr1.mailaddr_text }}</li>
        <li>[{{ key_string.mailaddr2 }}] {{ account.mailaddr2.mailaddr_text }}</li>
        <li>[{{ key_string.mailaddr3 }}] {{ account.mailaddr3.mailaddr_text }}</li>
        <li>[{{ key_string.address }}] {{ account.address.address_text }}</li>
        <li>[{{ key_string.phonenum }}] {{ account.phonenum.phonenum_text }}</li>
        <li>[{{ key_string.acclink1 }}]
        {% if account.link1_id %}
                <a href="{% url 'acclist:accdetail' 'html' account.accup_user_id.accup_user_name account.link1_id %}">{{ account.link1.service.service_name }} - {{ account.link1.name }}</a>
        {% else %}
                n/a
        {% endif %}
        </li>
        <li>[{{ key_string.acclink2 }}] 
        {% if account.link2_id %}
                <a href="{% url 'acclist:accdetail' 'html' account.accup_user_id.accup_user_name account.link2_id %}">{{ account.link2.service.service_name }} - {{ account.link2.name }}</a>
        {% else %}
                n/a
        {% endif %}
        </li>
        <li>[{{ key_string.acclink3 }}] 
        {% if account.link3_id %}
                <a href="{% url 'acclist:accdetail' 'html' account.accup_user_id.accup_user_name account.link3_id %}">{{ account.link3.service.service_name }} - {{ account.link3.name }}</a>
        {% else %}
                n/a
        {% endif %}
        </li>
        <li>[{{ key_string.multitype }}] {{ account.multifactorauth_type }}</li>
        <li>[{{ key_string.multiinfo }}] {{ account.multifactorauth_id }}</li>
        <li>[{{ key_string.secretq1 }}] {{ account.secret_q1 }}</li>
        <li>[{{ key_string.secreta1 }}] {{ account.secret_a1 }}</li>
        <li>[{{ key_string.secretq2 }}] {{ account.secret_q2 }}</li>
        <li>[{{ key_string.secreta2 }}] {{ account.secret_a2 }}</li>
        <li>[{{ key_string.secretq3 }}] {{ account.secret_q3 }}</li>
        <li>[{{ key_string.secreta3 }}] {{ account.secret_a3 }}</li>
        <li>[{{ key_string.registerdate }}] {{ account.account_register_date }}</li>
        <li>[{{ key_string.unregisterdate }}] {{ account.account_unregister_date }}</li>
        <li>[{{ key_string.memo }}] {{ account.memo }}</li>
        <li>(createdate) {{ account.createdate }}</li>
        <li>(modifieddate) {{ account.modifieddate }}</li>
        <li>(deletedate) {{ account.deletedate }}</li>
    </ul>
    <a href="{% url 'acclist:accupdateform' 'html' account.accup_user_id.accup_user_name account.id %}">update account</a><br>
    {% else %}
    <p>The account does not exist.</p>
    {% endif %}
    <a href="{% url 'acclist:alllist' 'html' account.accup_user_id.accup_user_name %}">Go back to account list</a>
{% endblock contents %}
