{% extends "base.html" %}
{% block contents %}
    {% if title_text %}
    <h1 class="page_title">{{ title_text }}</h1>
    {% endif %}
    {% if relay %}
    <div class="error">
        <div class="error_message">
        {{ relay.result.message }}
        </div>
        <div class="error_detail">
        {% for d in relay.result.py_e %}
            <div class="msg">{{ d }}</div>
        {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if rendered %}
        {{ rendered }}
    {% endif %}
    {% if message %}
    <div class="message">
        {{ message }}
    </div>
    {% endif %}
    {% if account %}
        {% if not delete %}
    <p class="button_set">
        <button type="button" class="btn btn-info" onclick="location.href='{% url 'acclist:accupdateform' 'html' account.accup_user_id.accup_user_name account.id %}'">update account</button>
        <button type="button" class="btn btn-danger" onclick="location.href='{% url 'acclist:accdeleteconfirm' 'html' account.accup_user_id.accup_user_name account.id %}'">delete account</button>
    </p>
        {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>item</th>
                <th>value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="listed_object">{{ key_string.status }}</td>
                <td class="listed_object">{{ account.status }}</td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.service }}</td>
                <td class="listed_object">{{ account.service.service_name }}</td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.name }}</td>
                <td class="listed_object">{{ account.name }}</td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.password }}</td>
                <td class="listed_object">{{ account.passwd }}</td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.mailaddr1 }}</td>
                <td class="listed_object">{{ account.mailaddr1.mailaddr_text }}</td>
            <tr>
                <td class="listed_object">{{ key_string.mailaddr2 }}</td>
                <td class="listed_object">{{ account.mailaddr2.mailaddr_text }}</td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.mailaddr3 }}</td>
                <td class="listed_object">{{ account.mailaddr3.mailaddr_text }}</td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.address }}</td>
                <td class="listed_object">{{ account.address.address_text }}</td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.phonenum }}</td>
                <td class="listed_object">{{ account.phonenum.phonenum_text }}</td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.acclink1 }}</td>
                <td class="listed_object">
        {% if account.link1_id %}
                    <a href="{% url 'acclist:accdetail' 'html' account.accup_user_id.accup_user_name account.link1_id %}">{{ account.link1.service.service_name }} - {{ account.link1.name }}</a>
        {% endif %}
                </td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.acclink2 }}</td>
                <td class="listed_object">
        {% if account.link2_id %}
                    <a href="{% url 'acclist:accdetail' 'html' account.accup_user_id.accup_user_name account.link2_id %}">{{ account.link2.service.service_name }} - {{ account.link2.name }}</a>
        {% endif %}
                </td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.acclink3 }}</td>
                <td class="listed_object">
        {% if account.link3_id %}
                    <a href="{% url 'acclist:accdetail' 'html' account.accup_user_id.accup_user_name account.link3_id %}">{{ account.link3.service.service_name }} - {{ account.link3.name }}</a>
        {% endif %}
                </td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.multitype }}</td>
                <td class="listed_object">{{ account.multifactorauth_type }}</td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.multiinfo }}</td>
                <td class="listed_object">{{ account.multifactorauth_id }}</td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.secretq1 }}</td>
                <td class="listed_object">{{ account.secret_q1 }}</td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.secreta1 }}</td>
                <td class="listed_object">{{ account.secret_a1 }}</td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.secretq2 }}</td>
                <td class="listed_object">{{ account.secret_q2 }}</td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.secreta2 }}</td>
                <td class="listed_object">{{ account.secret_a2 }}</td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.secretq3 }}</td>
                <td class="listed_object">{{ account.secret_q3 }}</td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.secreta3 }}</td>
                <td class="listed_object">{{ account.secret_a3 }}</td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.registerdate }}</td>
                <td class="listed_object">
        {% if account.account_register_date %}
                    {{ account.account_register_date }}
        {% endif %}
                </td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.unregisterdate }}</td>
                <td class="listed_object">
        {% if account.account_unregister_date %}
                    {{ account.account_unregister_date }}
        {% endif %}
                </td>
            </tr>
            <tr>
                <td class="listed_object">{{ key_string.memo }}</td>
                <td class="listed_object">{{ account.memo }}</td>
            </tr>
            <tr>
                <td class="listed_object">(id)</td>
                <td class="listed_object">{{ account.id }}</td>
            </tr>
            <tr>
                <td class="listed_object">({{ key_string.accupid }})</td>
                <td class="listed_object">{{ account.accup_user_id.accup_user_name }}</td>
            </tr>
            <tr>
                <td class="listed_object">(createdate)</td>
                <td class="listed_object">{{ account.createdate }}</td>
            </tr>
            <tr>
                <td class="listed_object">(modifieddate)</td>
                <td class="listed_object">{{ account.modifieddate }}</td>
            </tr>
            <tr>
                <td class="listed_object">(deletedate)</td>
                <td class="listed_object">{{ account.deletedate }}</td>
            </tr>
        </tbody>
    </table>
        {% if not delete %}
    <p class="button_set">
        <button type="button" class="btn btn-info" onclick="location.href='{% url 'acclist:accupdateform' 'html' account.accup_user_id.accup_user_name account.id %}'">update account</button>
        <button type="button" class="btn btn-danger" onclick="location.href='{% url 'acclist:accdeleteconfirm' 'html' account.accup_user_id.accup_user_name account.id %}'">delete account</button>
    </p>
        {% endif %}
    {% else %}
    <p class="no_content_message">The account does not exist.</p>
    {% endif %}
    <button type="button" class="btn btn-link" onclick="location.href='{% url 'acclist:alllist' 'html' username %}'">Go back to account list</button>
{% endblock contents %}
