{% extends "base.html" %}
{% block contents %}
    {% if newacc or account and mail_list and service_list and addr_list and phone_list and account_list %}
    <h1>Update your account</h1>
        {% if validate %}
    <div class="validate">
            {{ validate.non_field_errors }}
    </div>
        {% endif %}
        {% if relay %}
    <div class="error">
        <div class="error_message">
            {{ relay.result.message }}
        </div>
        <div class="error_detail">
            {% for d in relay.result.py_e %}
            <div class="msg">{{ d }}</div>
            {% endfor %}
        </div>
    </div>
        {% endif %}
        {% if newacc %}
    <form action="{% url 'acclist:accinsert' 'html' username %}" method="post">
        <p>
            user name: {{ username }}
        </p>
        {% else %}
    <form action="{% url 'acclist:accupdate' 'html' account.accup_user_id.accup_user_name account.id %}" method="post">
        <p>
            account id: {{ account.id }}, user name: {{ account.accup_user_id.accup_user_name }}
        </p>
        {% endif %}
        {% csrf_token %}
        <ul style="list-style: none;">
        {% if validate %}
            {{ validate.status.errors }}
        {% endif %}
            <li>[{{ key_string.status }}]
                <select name="status" size="1">
                    <option value="1"{% if account.status == 1 %} selected{% endif %}>Alive</option>
                    <option value="0"{% if account.status == 0 %} selected{% endif %}>Dead</option>
                </select>
            </li>
        {% if validate %}
            {{ validate.service.errors }}
        {% endif %}
            <li>[{{ key_string.service }}]
                <select name="service" size="1">
                    <option value="{{ select_option.new }}">[Add new service]</option>
        {% for svc in service_list %}
                    <option value="{{ svc.id }}"{% if account.service.id == svc.id %} selected{% endif %}>{{ svc.service_name }}</option>
        {% endfor %}
                </select>
            </li>
        {% if validate %}
            {{ validate.newservice.errors }}
        {% endif %}
            <li>
                new service <input name="newservice" type="text" size="40">
            </li>
        {% if validate %}
            {{ validate.accountid.errors }}
        {% endif %}
            <li>[{{ key_string.name }}]
                <input name="accountid" type="text" size="40" value="{{ account.name }}">
            </li>
            <li>[{{ key_string.password }}]</li>
        {% if validate %}
            {{ validate.updatepwd.errors }}
        {% endif %}
            <li>
                <input type="radio" name="updatepwd" value="1"> update <input type="radio" name="updatepwd" value="0" checked> not update
            </li>
        {% if validate %}
            {{ validate.password.errors }}
        {% endif %}
            <li>new password
                <input name="password" type="password" size="40">
            </li>
        {% if validate %}
            {{ validate.password_conf.errors }}
        {% endif %}
            <li>password confirm
                <input name="password_conf" type="password" size="40">
            </li>
        {% if validate %}
            {{ validate.mailaddr1.errors }}
        {% endif %}
            <li>[{{ key_string.mailaddr1 }}] 
                <select name="mailaddr1" size="1">
                    <option value="{{ select_option.blank }}"{% if not account.mailaddr1 %} selected{% endif %}>----</option>
                    <option value="{{ select_option.new }}">[Add new mail address]</option>
        {% for mail in mail_list %}
                    <option value="{{ mail.id }}"{% if account.mailaddr1.id == mail.id %} selected{% endif %}>{{ mail.mailaddr_text }}</option>
        {% endfor %}
                </select>
            </li>
        {% if validate %}
            {{ validate.newmail1.errors }}
        {% endif %}
            <li>
                new mailaddress <input name="newmail1" type="text" size="40">
            </li>
        {% if validate %}
            {{ validate.mailaddr2.errors }}
        {% endif %}
            <li>[{{ key_string.mailaddr2 }}] 
                <select name="mailaddr2" size="1">
                    <option value="{{ select_option.blank }}"{% if not account.mailaddr2 %} selected{% endif %}>----</option>
                    <option value="{{ select_option.new }}">[Add new mail address]</option>
        {% for mail in mail_list %}
                    <option value="{{ mail.id }}"{% if account.mailaddr2.id == mail.id %} selected{% endif %}>{{ mail.mailaddr_text }}</option>
        {% endfor %}
                </select>
            </li>
        {% if validate %}
            {{ validate.newmail2.errors }}
        {% endif %}
            <li>
                new mailaddress <input name="newmail2" type="text" size="40">
            </li>
        {% if validate %}
            {{ validate.mailaddr3.errors }}
        {% endif %}
            <li>[{{ key_string.mailaddr3 }}] 
                <select name="mailaddr3" size="1">
                    <option value="{{ select_option.blank }}"{% if not account.mailaddr3 %} selected{% endif %}>----</option>
                    <option value="{{ select_option.new }}">[Add new mail address]</option>
        {% for mail in mail_list %}
                    <option value="{{ mail.id }}"{% if account.mailaddr3.id == mail.id %} selected{% endif %}>{{ mail.mailaddr_text }}</option>
        {% endfor %}
                </select>
            </li>
        {% if validate %}
            {{ validate.newmail3.errors }}
        {% endif %}
            <li>
                new mailaddress <input name="newmail3" type="text" size="40">
            </li>
        {% if validate %}
            {{ validate.address.errors }}
        {% endif %}
            <li>[{{ key_string.address }}] 
                <select name="address" size="1">
                    <option value="{{ select_option.blank }}"{% if not account.address %} selected{% endif %}>----</option>
                    <option value="{{ select_option.new }}">[Add new address]</option>
        {% for addr in addr_list %}
                    <option value="{{ addr.id }}"{% if account.address.id == addr.id %} selected{% endif %}>{{ addr.address_text }}</option>
        {% endfor %}
                </select>
            </li>
        {% if validate %}
            {{ validate.newaddress.errors }}
        {% endif %}
            <li>
                new address <input name="newaddress" type="text" size="40">
            </li>
        {% if validate %}
            {{ validate.phonenum.errors }}
        {% endif %}
            <li>[{{ key_string.phonenum }}] 
                <select name="phonenum" size="1">
                    <option value="{{ select_option.blank }}"{% if not account.phonenum %} selected{% endif %}>----</option>
                    <option value="{{ select_option.new }}">[Add new number]</option>
        {% for phone in phone_list %}
                    <option value="{{ phone.id }}"{% if account.phonenum.id == phone.id %} selected{% endif %}>{{ phone.phonenum_text }}</option>
        {% endfor %}
                </select>
            </li>
        {% if validate %}
            {{ validate.newphonenum.errors }}
        {% endif %}
            <li>
                new phone number <input name="newphonenum" type="text" size="40">
            </li>
        {% if validate %}
            {{ validate.link1.errors }}
        {% endif %}
            <li>[{{ key_string.acclink1 }}] 
                <select name="link1" size="1">
                    <option value="{{ select_option.blank }}"{% if not account.link1 %} selected{% endif %}>----</option>
        {% for acc in account_list %}
                    <option value="{{ acc.id }}"{% if account.link1.id == acc.id %} selected{% endif %}>{{ acc.service.service_name }} - {{ acc.name }}</option>
        {% endfor %}
                </select>
            </li>
        {% if validate %}
            {{ validate.link2.errors }}
        {% endif %}
            <li>[{{ key_string.acclink2 }}] 
                <select name="link2" size="1">
                    <option value="{{ select_option.blank }}"{% if not account.link2 %} selected{% endif %}>----</option>
        {% for acc in account_list %}
                    <option value="{{ acc.id }}"{% if account.link2.id == acc.id %} selected{% endif %}>{{ acc.service.service_name }} - {{ acc.name }}</option>
        {% endfor %}
                </select>
            </li>
        {% if validate %}
            {{ validate.link3.errors }}
        {% endif %}
            <li>[{{ key_string.acclink3 }}] 
                <select name="link3" size="1">
                    <option value="{{ select_option.blank }}"{% if not account.link3 %} selected{% endif %}>----</option>
        {% for acc in account_list %}
                    <option value="{{ acc.id }}"{% if account.link3.id == acc.id %} selected{% endif %}>{{ acc.service.service_name }} - {{ acc.name }}</option>
        {% endfor %}
                </select>
            </li>
        {% if validate %}
            {{ validate.multifactor_type.errors }}
        {% endif %}
            <li>[{{ key_string.multitype }}] 
                <input name="name" type="multifactor_type" size="40" value="{% if account.multifactorauth_type %}{{ account.multifactorauth_type }}{% endif %}">
            </li>
        {% if validate %}
            {{ validate.multifactor_info.errors }}
        {% endif %}
            <li>[{{ key_string.multiinfo }}] 
                <input name="name" type="multifactor_info" size="40" value="{% if account.multifactorauth_id %}{{ account.multifactorauth_id }}{% endif %}">
            </li>
        {% if validate %}
            {{ validate.secq1.errors }}
        {% endif %}
            <li>[{{ key_string.secretq1 }}] 
                <input name="name" type="secq1" size="40" value="{% if account.secret_q1 %}{{ account.secret_q1 }}{% endif %}">
            </li>
        {% if validate %}
            {{ validate.seca1.errors }}
        {% endif %}
            <li>[{{ key_string.secreta1 }}] 
                <input name="name" type="seca1" size="40" value="{% if account.secret_a1 %}{{ account.secret_a1 }}{% endif %}">
            </li>
        {% if validate %}
            {{ validate.secq2.errors }}
        {% endif %}
            <li>[{{ key_string.secretq2 }}] 
                <input name="name" type="secq2" size="40" value="{% if account.secret_q2 %}{{ account.secret_q2 }}{% endif %}">
            </li>
        {% if validate %}
            {{ validate.seca2.errors }}
        {% endif %}
            <li>[{{ key_string.secreta2 }}] 
                <input name="name" type="seca2" size="40" value="{% if account.secret_a2 %}{{ account.secret_a2 }}{% endif %}">
            </li>
        {% if validate %}
            {{ validate.secq3.errors }}
        {% endif %}
            <li>[{{ key_string.secretq3 }}] 
                <input name="name" type="secq3" size="40" value="{% if account.secret_q3 %}{{ account.secret_q3 }}{% endif %}">
            </li>
        {% if validate %}
            {{ validate.seca3.errors }}
        {% endif %}
            <li>[{{ key_string.secreta3 }}] 
                <input name="name" type="seca3" size="40" value="{% if account.secret_a3 %}{{ account.secret_a3 }}{% endif %}">
            </li>
        {% if validate %}
            {{ validate.register_date.errors }}
        {% endif %}
            <li>[{{ key_string.registerdate }}] 
                <input type="date" name="register_date"{% if account.account_register_date %} value="{{ account.account_register_date|date:"Y-m-d" }}"{% endif %}>
            </li>
        {% if validate %}
            {{ validate.unregister_date.errors }}
        {% endif %}
            <li>[{{ key_string.unregisterdate }}] 
                <input type="date" name="unregister_date"{% if account.account_unregister_date %} value="{{ account.account_unregister_date|date:"Y-m-d" }}"{% endif %}>
            </li>
        {% if validate %}
            {{ validate.memo.errors }}
        {% endif %}
            <li>[{{ key_string.memo }}] 
                <textarea name="memo" rows="5" cols="40">{% if account.memo %}{{ account.memo }}{% endif %}</textarea>
        </ul>
        <input type="submit" value="Submit" />
    </form>
        {% if newacc %}
        {% else %}
    <a href="{% url 'acclist:accdetail' 'html' account.accup_user_id.accup_user_name account.id %}">Go back to account detail</a>
        {% endif %}
    <a href="{% url 'acclist:alllist' 'html' username %}">Go back to account list</a>
    {% else %}
    <p>Failed to load account data.</p>
    {% endif %}
{% endblock contents %}
    
